@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@keyframes transicaoHeader {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes transicaoPagina {
  from {
    opacity: 0;
    padding-block: 10%;
  }

  to {
    opacity: 1;
  }
} */

@keyframes transicaoFooter {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  align-items: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 1vh;
  width: 100%;
  animation: transicaoHeader 0.75s;
}

#header__logo {
  width: 9vw;
  min-width: 36px;
}

.header__links {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 2%;
  flex-wrap: wrap;
}

.header__links__botoes {
  color: rgb(14, 100, 228);
  font-family: "Noto Sans", serif;
  font-size: 1.4rem;
  border: solid 2px white;
}

.header__links__botoes:hover {
  border: solid 2px #303f9f;
  border-style: inset;
  background-color: #303f9f;
  border-radius: 7px;
  color: white;
}

#header__div__centralizar {
  width: 9vw;
  min-width: 36px;
  visibility: hidden;
  flex-shrink: 3;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  background-color: #282d7d;
  color: white;
  width: 100%;
  flex-wrap: wrap;
  min-width: 11vh;
  animation: transicaoFooter 0.75s;
}

.footer__links {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  flex: 1;
  flex-wrap: wrap;
}

.footer__links__imagem {
  transform: scale(0.7);
}

.footer__links__imagem:hover {
  transform: scale(1);
}

#footer__logo {
  margin-left: auto;
  margin-right: 3vw;
  align-self: center;
  width: 6vw;
  min-width: 72px;
}

/* PÁGINA PRINCIPAL (index.html) */

.section__principal {
  padding-top: 3vh;
  flex-wrap: wrap;
  padding: 5%;
  animation: transicaoPagina 0.9s;
}

#section__principal__titulo {
  font-family: "Poppins", sans-serif;
}

#section__principal__texto {
  font-family: "Roboto", sans-serif;
}

.highlight {
  color: rgb(74, 137, 209);
}

#section__principal__imagem {
  width: 100%;
  border: solid 2px rgb(74, 137, 209);
  border-radius: 6px;
  float: right;
  max-width: 800px;
  max-height: 380px;
  margin-left: 3%;
}

/* PÁGINA DE LANÇAMENTO (lancamento.html) */

.section__lancamento__video {
  display: flex;
  animation: transicaoPagina 1s;
  padding-top: 0.3%;
}

.section__lancamento__video__div {
  width: 100%;
  height: 45vh;
  animation: transicaoPagina 1s;
}

.section__lancamento__comparar__div__imagens {
  display: flex;
  flex-wrap: wrap;
}

.section__lancamento__comparar__div__imagens__container {
  display: flex;
  flex-direction: column;
  background-color: red;
  /* flex-grow: 0.05; */
}

.section__lancamento__comparar__div__imagens__produto {
  width: 100%;
  /* min-width: 100px; */
}

.section__lancamento__comparar__div__imagens__texto {
  display: flex;
}

.section__lancamento__comparar__div__menu__checkbox {
  width: 15%;
  height: 25px;
}

.section__lancamento__comparar__div__menu__label {
}

abbr {
  align-self: flex-end;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}

#teste3 {
  align-self: center;
  margin-top: 3vh;
  margin-bottom: 1vh;
}
