@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding-bottom: 2vh;
}

#header__logo {
  width: 10vw;
  min-width: 36px;
}

.header__links {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 2%;
  flex-wrap: wrap;
}

.header__links__botoes {
  color: rgb(14, 100, 228);
  font-family: "Noto Sans", serif;
  font-size: 1.4rem;
  border: solid 2px white;
}

.header__links__botoes:hover {
  border: solid 2px #303f9f;
  border-style: inset;
  background-color: #303f9f;
  border-radius: 7px;
  color: white;
}

#header__div__centralizar {
  width: 10vw;
  min-width: 36px;
  visibility: hidden;
}

main {
  flex: 1;
}

.section__principal {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

#section__principal__imagem {
  width: 80%;
  border: solid 2px rgb(74, 137, 209);
  border-radius: 6px;
}

.footer {
  display: flex;
  background-color: #282d7d;
  color: white;

  flex-wrap: wrap;
  min-width: 11vh;
}

.footer__links {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  flex: 1;
  flex-wrap: wrap;
}

.footer__links__imagem {
  transform: scale(0.7);
}

.footer__links__imagem:hover {
  transform: scale(1);
}

#footer__logo {
  margin-left: auto;
  margin-right: 3vw;
  align-self: center;
  width: 6vw;
  min-width: 72px;
}
